name: del

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

env:
  TZ: Asia/Shanghai

jobs:
  Fork-Filter-list:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout target repository
        uses: actions/checkout@v4.1.0
        with:
          repository: SouthAlley/q
          path: q-repo
          
      - name: 下载文件到 Surge
        run: |
           mkdir -p q-repo/local
           # 分流规则
           curl -L -o q-repo/local/Ad.list "https://raw.githubusercontent.com/SouthAlley/q/main/rule/ad/fin.txt"

      - name: 编辑规则文件 rule/ad
        run: |
           cd q-repo/local
           for file in Ad.list; do
             if [ -f "$file" ]; then
               # 删除注释
               sed -i 's/#.*//' "$file"
               # 删除空行
               sed -i '/^[[:space:]]*$/d' "$file"
            else
               echo "$file not found."
            fi
           done

      - name: 删除匹配行从原始文件
        run: |
          original_file='q-repo/local/Ad.list'
          del_file='q-repo/local/ad.ini'

          while IFS= read -r line
          do
            sed -i '/'"$line"'/d' "$original_file"
          done < "$del_file"

          echo "删除操作完成。"



      - name: Add and Commit changes
        run: |
          cd q-repo
          if [[ -n $(git status -s) ]]; then
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"
            git add local/*
            git commit -m "Update rules"
            git push origin HEAD
          else
            echo "No changes to commit."
          fi
