name: addproxy

on:
  workflow_dispatch:
  schedule:
    - cron: '20 */6 * * *'

jobs:
  update-rule:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout target repository
      uses: actions/checkout@v4.1.0
      with:
        repository: SouthAlley/q
        path: q-repo

    - name: Download rule file to Surge
      run: |
        mkdir -p q-repo/local
        files=("global" "proxy")
        for file in "${files[@]}"; do
          curl -L -o "q-repo/local/${file}.list" "https://raw.githubusercontent.com/SouthAlley/q/main/rule/${file}/fin.txt"
          cd q-repo/local
          if [ -f "${file}.list" ]; then
            sed -i '/^\(PROCESS-NAME\|DOMAIN-KEYWORD\|IP-CIDR\|IP-CIDR6\|IP-ASN\|URL-REGEX\|USER-AGENT\|OR\|AND\),.*$/d' "${file}.list"
            sed -i 's/#.*//' "${file}.list"
            sed -i '/^[[:space:]]*$/d' "${file}.list"
            if [ -f "ini/${file}.ini" ]; then
              cat "ini/${file}.ini" >> "${file}.list"
            else
              cp "ini/${file}.ini" "${file}.list"
            fi
          else
            echo "${file}.list not found."
          fi
          cd ../../
        done

    - name: Add and Commit changes
      run: |
        cd q-repo
        if [[ -n $(git status -s) ]]; then
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add local/*
          git commit -m "Update rules"
          git push origin HEAD
        else
          echo "No changes to commit."
        fi

    - name: Cleanup Workflow
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 0
        keep_minimum_runs: 2
