name: CombinedWorkflow

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

env:
  TZ: Asia/Shanghai
  
jobs:
  Fork-Filter-list:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout target repository
      uses: actions/checkout@v4.1.0
      with:
        repository: SouthAlley/q
        path: q-repo

    - name: Download rules to Surge
      run: |
        mkdir -p q-repo/rule/ad/attach
        mkdir -p q-repo/rule/global/attach

        curl -L -o q-repo/rule/ad/attach/del.ini "https://raw.githubusercontent.com/RuCu6/QuanX/main/Rules/MyBlockAds.list"
        curl -L -o q-repo/rule/global/attach/del.ini "https://raw.githubusercontent.com/SouthAlley/z/main/Surge/StreamingRule/StreamingRule.list"

    - name: Edit rules
      run: |
        cd "q-repo/rule/${rule_type}/attach"
        for file in del.ini; do
          if [ -f "$file" ]; then
            # 修改, 为,
            sed -i 's/, /,/g' "$file"
            # 修改为大写
            sed -i -e 's/host,/DOMAIN,/gi' "$file"
            sed -i -e 's/host-suffix,/DOMAIN-SUFFIX,/gi' "$file"
            sed -i -e 's/host-keyword,/DOMAIN-KEYWORD,/gi' "$file"
            sed -i 's/ip-cidr,/IP-CIDR,/gi' "$file"
            sed -i 's/ip6-cidr,/IP-CIDR6,/gi' "$file"
            sed -i 's/user-agent,/USER-AGENT,/g' "$file"
            # 删除不必要的部分
            sed -i 's/\([^,]*,[^,]*\),.*/\1/g' "$file"
            # 如果包含IP-CIDR且不包含,no-resolve 则添加,no-resolve
            sed -i '/IP-CIDR/ {/no-resolve/! s/$/,no-resolve/}; /IP-CIDR6/ {/no-resolve/! s/$/,no-resolve/}' "$file"
            # 删除;
            sed -i 's/;//g' "$file"
            # 删除注释
            sed -i 's/#.*//' "$file"
            # 删除空行
            sed -i '/^[[:space:]]*$/d' "$file"
          else
              echo "$file not found."
            fi
          done
          cd ../../
        done

    - name: Delete matched lines from original file
      run: |
        cd q-repo
        for rule_type in ad global; do
          cd "rule/${rule_type}/attach"
          original_file="del.ini"
          del_file="../../local/del${rule_type}.ini"

          while IFS= read -r line; do
            sed -i "/$line/d" "$original_file"
          done < "$del_file"

          echo "删除操作完成。"
          cd ../../
        done

    - name: Copy custom rules to Surge
      run: |
        cd q-repo
        for rule_type in ad global; do
          cd "rule/${rule_type}/attach"
          # 如果目标文件存在，将自定义规则附加到目标文件
          if [ -f "del.ini" ]; then
            cat "../../local/add${rule_type}.ini" >> "del.ini"
          else
            cp "../../local/add${rule_type}.ini" "del.ini"
          fi
          cd ../../
        done

    - name: Add and Commit
      run: |
        cd q-repo
        if [[ -n $(git status -s) ]]; then
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add rule/ad/attach/* rule/global/attach/*
          git commit -m "Update"
          git push origin HEAD
        else
          echo "No changes to commit."
        fi

    - name: Cleanup Workflow
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 0
        keep_minimum_runs: 2
