name: Combined Workflow

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

env:
  TZ: Asia/Shanghai

jobs:
  Fork-Filter-list:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout target repository
        uses: actions/checkout@v4.1.0
        with:
          repository: SouthAlley/q
          path: q-repo

      - name: Process Rule
        run: |
          for rule_type in ad global; do
            mkdir -p "q-repo/rule/$rule_type/attach"
            
            # Download rule file
            rule_url="https://raw.githubusercontent.com/${rule_type^}Cu6/QuanX/main/Rules/MyBlockAds.list"
            if [ "$rule_type" == "global" ]; then
              rule_url="https://raw.githubusercontent.com/SouthAlley/z/main/Surge/StreamingRule/StreamingRule.list"
            fi

            curl -L -o "q-repo/rule/$rule_type/attach/del.ini" "$rule_url"

            # Edit rule file
            sed -i 's/, /,/g; s/host,/DOMAIN,/gi; s/host-suffix,/DOMAIN-SUFFIX,/gi; s/host-keyword,/DOMAIN-KEYWORD,/gi; s/ip-cidr,/IP-CIDR,/gi; s/ip6-cidr,/IP-CIDR6,/gi; s/user-agent,/USER-AGENT,/g; s/\([^,]*,[^,]*\),.*/\1/g; /IP-CIDR/ {/no-resolve/! s/$/,no-resolve/}; /IP-CIDR6/ {/no-resolve/! s/$/,no-resolve/}; s/;//g; s/#.*//; /^[[:space:]]*$/d' "q-repo/rule/$rule_type/attach/del.ini"

            # Delete matched lines
            original_file="q-repo/rule/$rule_type/attach/del.ini"
            del_file="q-repo/local/del${rule_type}.ini"

            if [ -f "$del_file" ]; then
              while IFS= read -r line; do
                sed -i "/$line/d" "$original_file"
              done < "$del_file"
              echo "删除操作完成."
            else
              echo "$del_file not found. Skipping deletion."
            fi

            # Copy custom rules
            if [ -f "q-repo/rule/$rule_type/attach/del.ini" ]; then
              if [ -f "q-repo/local/add${rule_type}.ini" ]; then
                cat "q-repo/local/add${rule_type}.ini" >> "q-repo/rule/$rule_type/attach/del.ini"
              else
                echo "q-repo/local/add${rule_type}.ini not found. Skipping copying custom rules."
              fi
            else
              echo "q-repo/rule/$rule_type/attach/del.ini not found. Skipping copying custom rules."
            fi

            # Add and Commits
            cd q-repo
            if [[ -n $(git status -s "rule/$rule_type/attach/*") ]]; then
              git config --local user.email "action@github.com"
              git config --local user.name "GitHub Action"
              git add "rule/$rule_type/attach/*"
              git commit -m "Update $rule_type Rule"
              git push origin HEAD
            else
              echo "No changes in $rule_type Rule to commit."
            fi
          done
