name: Combined Workflow

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

env:
  TZ: Asia/Shanghai

jobs:
  Fork-Filter-list:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        rule_type: [ad, global]

    steps:
      - name: Checkout target repository
        uses: actions/checkout@v4.1.0
        with:
          repository: SouthAlley/q
          path: q-repo

      - name: Download file to Surge
        run: |
          mkdir -p q-repo/rule/${{ matrix.rule_type }}/attach
          curl -L -o q-repo/rule/${{ matrix.rule_type }}/attach/del.ini "https://raw.githubusercontent.com/${{ matrix.rule_type == 'ad' ? 'RuCu6/QuanX' : 'SouthAlley/z' }}/main/Rules/${{ matrix.rule_type == 'ad' ? 'MyBlockAds' : 'StreamingRule/StreamingRule' }}.list"

      - name: Edit rule/${{ matrix.rule_type }}
        run: |
          cd q-repo/rule/${{ matrix.rule_type }}/attach
          for file in del.ini; do
            if [ -f "$file" ]; then
              sed -i 's/, /,/g; s/host,/DOMAIN,/gi; s/host-suffix,/DOMAIN-SUFFIX,/gi; s/host-keyword,/DOMAIN-KEYWORD,/gi; s/ip-cidr,/IP-CIDR,/gi; s/ip6-cidr,/IP-CIDR6,/gi; s/user-agent,/USER-AGENT,/g; s/\([^,]*,[^,]*\),.*/\1/g; /IP-CIDR/ {/no-resolve/! s/$/,no-resolve/}; /IP-CIDR6/ {/no-resolve/! s/$/,no-resolve/}; s/;//g; s/#.*//; /^[[:space:]]*$/d' "$file"
            else
              echo "$file not found."
            fi
          done

      - name: Delete matched lines from original file
        run: |
          original_file="q-repo/rule/${{ matrix.rule_type }}/attach/del.ini"
          del_file="q-repo/local/del${{ matrix.rule_type }}.ini"
          while IFS= read -r line
          do
            sed -i "/$line/d" "$original_file"
          done < "$del_file"

          echo "删除操作完成."

      - name: Copy custom rules to Surge
        run: |
          if [ -f "q-repo/rule/${{ matrix.rule_type }}/attach/del.ini" ]; then
            cat q-repo/local/add${{ matrix.rule_type }}.ini >> q-repo/rule/${{ matrix.rule_type }}/attach/del.ini
          else
            cp q-repo/local/add${{ matrix.rule_type }}.ini q-repo/rule/${{ matrix.rule_type }}/attach/del.ini
          fi

      - name: Add and Commits
        run: |
          cd q-repo
          if [[ -n $(git status -s) ]]; then
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"
            git add rule/${{ matrix.rule_type }}/attach/*
            git commit -m "Update"
            git push origin HEAD
          else
            echo "No changes to commit."
          fi

      - name: Cleanup Workflow
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 0
          keep_minimum_runs: 2
