name: Fork global

on:
  workflow_dispatch:
  schedule:
    - cron: "5 */6 * * *"

env:
  TZ: Asia/Shanghai
  
jobs:
  Fork-Filter-list:
    runs-on: ubuntu-latest
    
    steps: 
    - name: Checkout target repository
      uses: actions/checkout@v4.1.0
      with:
        repository: SouthAlley/q
        path: q-repo

   
    - name: Download file to Surge
      run: |
        mkdir -p q-repo/rule/proxy/attach

        # 广告规则 
        curl -L -o q-repo/rule/proxy/attach/del.ini "https://raw.githubusercontent.com/SouthAlley/z/main/Surge/StreamingRule/StreamingRule.list"



    - name: Edit rule/ad
      run: |
        cd q-repo/rule/proxy/attach
        for file in del.ini; do
          if [ -f "$file" ]; then
            # 修改, 为,
            sed -i 's/, /,/g' "$file"
            # 修改为大写
            sed -i -e 's/host,/DOMAIN,/gi' "$file"
            sed -i -e 's/host-suffix,/DOMAIN-SUFFIX,/gi' "$file"
            sed -i -e 's/host-keyword,/DOMAIN-KEYWORD,/gi' "$file"
            sed -i 's/ip-cidr,/IP-CIDR,/gi' "$file"
            sed -i 's/ip6-cidr,/IP-CIDR6,/gi' "$file"
            sed -i 's/user-agent,/USER-AGENT,/g' "$file"
            # 删除不必要的部分
            sed -i 's/\([^,]*,[^,]*\),.*/\1/g' "$file"
            # 如果包含IP-CIDR且不包含,no-resolve 则添加,no-resolve
            sed -i '/IP-CIDR/ {/no-resolve/! s/$/,no-resolve/}; /IP-CIDR6/ {/no-resolve/! s/$/,no-resolve/}' "$file"
            # 删除;
            sed -i 's/;//g' "$file"
            # 删除注释
            sed -i 's/#.*//' "$file"
            # 删除空行
            sed -i '/^[[:space:]]*$/d' "$file"
          else
            echo "$file not found."
          fi
        done


          
    - name: Add and Commits
      run: |
        cd q-repo
        if [[ -n $(git status -s) ]]; then
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add rule/proxy/attach/* 
          git commit -m "Update"
          git push origin HEAD
        else
          echo "No changes to commit."
        fi
    
    - name: Cleanup Workflow
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 0
        keep_minimum_runs: 2
