name: make rules
on:
  workflow_dispatch:
  schedule:
    - cron: '10 */6 * * *'
    
env:
  TZ: Asia/Shanghai
    

jobs:
  build:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v3
        continue-on-error: false
        timeout-minutes: 10
        with:
          ref: main
          
      - name: run main
        continue-on-error: false
        timeout-minutes: 20
        run: |
          .\r.cmd rule/ad
          .\r.cmd rule/global
          .\r.cmd rule/apple
          .\r.cmd rule/microsoft
          .\r.cmd rule/google
          .\r.cmd rule/steam
          .\r.cmd rule/battle
          .\r.cmd rule/epic
          .\r.cmd rule/2k
          .\r.cmd rule/Garena
          .\r.cmd rule/Nintendo
          .\r.cmd rule/Rockstar
          .\r.cmd rule/gog
          .\r.cmd rule/opgg
          .\r.cmd rule/sony
          .\r.cmd rule/ubi
          .\r.cmd rule/xbox
          .\r.cmd rule/Telegram
          .\r.cmd rule/paypal
          .\r.cmd rule/tiktok
          .\r.cmd rule/proxy
          .\r.cmd rule/text
      - name: 提交
        continue-on-error: false
        timeout-minutes: 10
        run: |
          git init
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout --orphan main
          git add .
          git commit -m "Last Update at $(date +"%Y-%m-%d %H:%M")"
          git remote add origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git push -f -u origin main
