name: zhuan Filter

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"
  
jobs:
  Fork-FLITER-list:
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout目标仓库
      uses: actions/checkout@v4.1.0
      with:
        repository: SouthAlley/q
        path: q-repo


    - name: 处理规则并推送到本地仓库
      run: |
         # 下载规则文件
         curl -L -o q-repo/O/proxy.list "https://ruleset.isagood.day/global_domain.conf"

         # 进入仓库目录
         cd q-repo/O

         # 处理规则
         sed -i '/\./! s/^/DOMAIN,/' proxy.list
         sed -i 's/\./DOMAIN-SUFFIX,/g' proxy.list

         # 推送到本地仓库
         git config --global user.email "action@github.com"
         git config --global user.name "GitHub Action"
         git add proxy.list
         git commit -m "Update proxy rules"
         git push origin master


      
  
  
