name: zhuan Filter

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"
  
jobs:
  Fork-FLITER-list:
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout目标仓库
      uses: actions/checkout@v4.1.0
      with:
        repository: SouthAlley/q
        path: q-repo


    - name: 安装wget
      run: sudo apt-get install wget


    - name: 下载规则文件
      run: |
        wgetFix="-nv --no-config -t 3 --no-netrc -T 30 --connect-timeout=10 --read-timeout=10 -w 1 -4 --no-iri --no-cache -U \"Mozilla/5.0 (iPhone; CPU iPhone OS 16_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.0 Mobile/15E148 Safari/604.1 SearchCraft/3.9.0 (Baidu; P2 16.0)\" --no-cookies --https-only --no-hsts --local-encoding=UTF-8 --remote-encoding=UTF-8 --restrict-file-names=nocontrol"
    
        wget $wgetFix -O q-repo/O/proxy.list "https://ruleset.isagood.day/global_domain.conf"

         # 进入仓库目录
         cd q-repo/O

         # 处理规则
         sed -i '/\./! s/^/DOMAIN,/' proxy.list
         sed -i 's/\./DOMAIN-SUFFIX,/g' proxy.list

         # 推送到本地仓库
         git config --global user.email "action@github.com"
         git config --global user.name "GitHub Action"
         git add proxy.list
         git commit -m "Update proxy rules"
         git push origin main


      
  
  
