name: zhuan Filter

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"
  
jobs:
  Fork-FLITER-list:
    runs-on: ubuntu-latest
    
    steps: 
    - name: Checkout target repository
      uses: actions/checkout@v4.1.0
      with:
        repository: SouthAlley/q
        path: q-repo
   
    - name: Download file to Surge
      run: |
        mkdir -p q-repo/local
        # 规则
        curl -L -o q-repo/local/proxy.list "https://ruleset.isagood.day/global_domain.conf"
        

    - name: Edit Surge/local
      run: |
        cd q-repo/local
        for file in proxy.list; do
          if [ -f "$file" ]; then
            # 修改
            sed -i '/\./! s/^/DOMAIN,/' "$file"
            sed -i 's/\./DOMAIN-SUFFIX,/g' "$file"
          else
            echo "$file not found."
          fi
        done


    - name: Add and Commits
      run: |
        cd q-repo
        if [[ -n $(git status -s) ]]; then
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add local/* 
          git commit -m "Update"
          git push origin HEAD
        else
          echo "No changes to commit."
        fi
    
    - name: Cleanup Workflow
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 0
        keep_minimum_runs: 2
